@inherits Merchello.Web.Mvc.MerchelloHelperViewPage<Merchello.Core.Models.MonitorModels.IPaymentResultMonitorModel>
@using Merchello.Core
@using Merchello.Core.Models
@{
    var store = Umbraco.TypedContent(1071);

    var products = MerchelloContext.Current.Services.ProductService.GetAll();
}

<h1>Store name: <a href="@store.Url">@store.Name</a></h1>

Dear @Model.Invoice.BillToName

<p>Here is some new text and some more text.</p>
<ul>
    @foreach (var item in Model.Invoice.Items)
    {
        <li>@item.Name + @item.Price.AsFormattedCurrency()</li>
    }
</ul>


<ul>
    @foreach (var p in products)
    {
        <li>@p.Name</li>
    }
</ul>
<p>Thanks!</p>
Rusty