@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web
@{
    Layout = "FastTrack.cshtml";
}

@Html.Partial("_Headline")

@if (CurrentCustomer.Basket().Items.Any())
{
    @Html.Action("BasketForm", "StoreBasket", new { area = "Merchello" })

    <div class="row">
        <div class="col-lg-8">
            <a href="@ExampleUiHelper.Content.GetStoreRoot().Url">Continue Shopping</a>
        </div>
        <div class="col-lg-4 text-right">
            <a href="@ExampleUiHelper.Content.GetCheckout().Url" class="btn btn-primary">Checkout</a>
        </div>
    </div>
}
else
{
    <p>
        <a href="@ExampleUiHelper.Content.GetStoreRoot().Url">There's nothing in your shopping cart, start shopping!</a>
    </p>
}