@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCatalog>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web
@using Merchello.Web.Models
@using Merchello.Web.Models.Ui.Rendering
@{
	Layout = "FastTrack.cshtml";

	var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
	var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<IProductCollection>();
}

@Html.Partial("_Headline")

<h3>@title</h3>

<div class="row">

	<div class="col-md-3">

		@Html.Partial("hkCategories")

		

	</div>

	<div class="col-md-9">


		@foreach (var cat in categories.OrderBy(x => x.Name))
	{
		<div>
			@CategoryLink(cat)
			<div class="row">
				@foreach (var p in cat.GetProducts(1, 3))
			{
				<div class="col-md-4">
					@Html.Partial("_ProductBox", p)
				</div>
		}
			</div>
		</div>
}
	</div>
</div>


@helper CategoryLink(IProductCollection category)
	{
		if (category.Key != Guid.Empty)
		{
			var page = ExampleUiHelper.Content.GetCategoryPageForCollection(category.Key);
			if (page != null)
			{
				<h4><a href="@page.Url">@category.Name</a></h4>
			}
			else
			{
				<h4>@category.Name</h4>
			}

		}
		else
		{
			<h4>@category.Name</h4>
		}
}



