@inherits Umbraco.Web.Mvc.UmbracoViewPage<IProductContent>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Web.Models.VirtualContent
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <h1>@Model.Name</h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-8">
            @if (Model.HasValue("image"))
            {
               // var image = Umbraco.TypedMedia(Model.GetPropertyValue("image"));
                <img class="img-responsive" src="" alt="@Model.Name">
            }
            
            @if (Model.ProductVariants.Any())
            {
                <h4 class="pull-right">@ModelExtensions.FormatPrice(Model.Price, BazaarContentHelper.GetStoreCurrency())</h4>
            }
            <h4>
                <a href="#">@Model.Name</a>
            </h4>
            @Model.GetPropertyValue("description")
        </div>
        <div class="pull-right">
            @Html.Action("RenderAddItem", "BazaarBasket", new { area = "Bazaar", model = Model.BuildAddItemModel(BazaarContentHelper.GetStoreCurrency(), BazaarContentHelper.ShowWishList()) })
        </div>
    </div>
</div>