@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductCollectionModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web

@{
    Layout = "Master.cshtml";
}
<div class="productcategory">
    
    <div class="page-header">
        <h1>@Model.Name</h1>
    </div>

    <div class="productcategorylist">

        @if (Model.Products.Any())
        {
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-6">
                        <a href="@product.Url" class="media">
                            <div class="media-left media-middle">
                                @if (product.HasValue("image"))
                                {
                                    <img class="media-object" src="@product.GetCropUrl(propertyAlias: "image", height: 150, cacheBuster: false)&rnd=@DateTime.Now.Ticks" data-holder-rendered="true" alt="@product.Name"/>
                                }
                                else
                                {
                                    <p>No Image</p>
                                }
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@product.Name</h4>
                                @Html.Raw(product.GetPropertyValue<string>("overview"))
                                <p class="price">
                                    @if (product.SalePrice > 0)
                                    {
                                        <span class="price-sale">
                                            @product.FormattedSalePrice() <span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
                                        </span>
                                    }
                                    else
                                    {
                                        @product.FormattedPrice()
                                    }
                                </p>
                                @*
                                    // Example of adding the Add to cart on the product category list page
                                    @Html.Action("RenderAddItem", "BazaarBasket", new { area = "Bazaar", model = p.BuildAddItemModel(Model.Currency, Model.ShowWishList) })
                                *@
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                No products to show
            </div>
        }

    </div>

    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <hr/>
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                @Html.Raw(Model.Description)
            </div>
        </div>
    }

</div>
