@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductCollectionModel>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web

@{
    Layout = "Master.cshtml";
}
<div class="row-fluid">
    <h1>@Model.Name</h1>
</div>

<div class="row-fluid" id="products">

    @{

        if (Model.Products.Any())
        {
            <ul id="featured" class="product-list">

                @foreach (var p in Model.Products)
                {
                    <li class="row">
                        @if (p.HasValue("image"))
                        {                           
                            <a href="@p.Url"><img src="@p.GetCropUrl(300, propertyAlias: "image")" class="col-md-3"></a>
                        }

                        <div class="pull-right col-md-3">
                            @Html.Action("RenderAddItem", "BazaarBasket", new { area = "Bazaar", model = p.BuildAddItemModel(Model.Currency, Model.ShowWishList) })
                        </div>
                        <div class="info col-md-5">
                            <h2><a href="@p.Url">@p.Name</a></h2>
                            <p>@p.GetPropertyValue("brief")</p>
                        </div>
                    </li>
                }
            </ul>
        }

    }

</div>
