@inherits Umbraco.Web.Mvc.UmbracoViewPage<IProductContent>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Web.Models.VirtualContent
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}

<div class="page-header">
    <h1>@Model.Name</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-push-8">
        @Html.Action("RenderAddItem", "BazaarBasket", new { area = "Bazaar", model = Model.BuildAddItemModel(BazaarContentHelper.GetStoreCurrency(), BazaarContentHelper.ShowWishList()) })
    </div>
    <div class="col-md-8 col-md-pull-4">
        <div class="row">
            @if (Model.HasValue("image"))
            {
                <div class="col-xs-8">
                    <img class="img-responsive" src="@Model.GetCropUrl(propertyAlias: "image", height: 450, cacheBuster: false)&rnd=@DateTime.Now.Ticks" alt="@Model.Name">
                </div>
            }
            <div class="col-xs-4">
                @Html.Raw(Model.GetPropertyValue<string>("overview"))
            </div>

        </div>
        <hr/>
        @Html.Raw(Model.GetPropertyValue<string>("description"))
    </div>
    @if (Model.HasProperty("relatedProducts") && Model.HasValue("relatedProducts"))
    {
        @Html.ThemedPartial(BazaarContentHelper.GetStoreTheme(), "RelatedProducts", BazaarContentHelper.GetProductBoxModels(Model.GetPropertyValue<IEnumerable<IProductContent>>("relatedProducts")))
    }

    @if (Model.HasProperty("bullets") && Model.HasValue("bullets"))
    {
        <ul>
        @foreach (var item in Model.GetPropertyValue<IEnumerable<string>>("bullets").Where(x => !x.IsNullOrWhiteSpace()))
         {
            <li>@item</li>     
         }
        </ul>
    }

    @if (Model.HasProperty("datepicker") && Model.HasValue("datepicker"))
    {
        var dt = Model.GetPropertyValue<DateTime>("datepicker");
        @Model.GetPropertyValue("datepicker");
    }

</div>