@inherits Umbraco.Web.Mvc.UmbracoViewPage<ReceiptModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@{
    Layout = "Master.cshtml";
}

@if (Model.InvoiceSummary.Invoice == null)
{
    <p>No receipt found.</p>
}
else
{

    <div class="row">
        
        <div class="row" id="order-info">


            @Html.ThemedPartial(Model.Theme, "InvoiceSummary", Model.InvoiceSummary)

        </div>
            
        <div class="row">

            <h2>Your Purchasing Information</h2>

            <div class="vcard col-md-6">
                <h5>Shipped To</h5>
                <span class="fn">@Model.ShippingAddress.Name</span>
                <span class="adr">
                    <span class="street-address">@Model.ShippingAddress.Address1</span>
                    @if (!string.IsNullOrEmpty(Model.ShippingAddress.Address2))
                    {
                        <span class="extended-address">@Model.ShippingAddress.Address2</span>
                    }
                    <span class="locality">@Model.ShippingAddress.Locality</span>, <span class="region">@Model.ShippingAddress.Region</span> <span class="postal-code">@Model.ShippingAddress.PostalCode</span>
                </span>
            </div>
            <div class="vcard col-md-5 pull-right">
                <h5>Billed To</h5>
                <span class="fn">@Model.InvoiceSummary.Invoice.BillToName</span>

                <span class="adr">
                    <span class="street-address">@Model.InvoiceSummary.Invoice.BillToAddress1</span>
                    @if (!string.IsNullOrEmpty(Model.InvoiceSummary.Invoice.BillToAddress2))
                    {
                        <span class="extended-address">@Model.InvoiceSummary.Invoice.BillToAddress2</span>
                    }
                    <span class="locality">@Model.InvoiceSummary.Invoice.BillToLocality</span>, <span class="region">@Model.InvoiceSummary.Invoice.BillToRegion</span> <span class="postal-code">@Model.InvoiceSummary.Invoice.BillToPostalCode</span>
                </span>
                <p></p>
            </div>

        </div>
    </div>

}