@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoreModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web
@using Umbraco.Web.Models
@{
    Layout = "Master.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <h1>@Model.StoreTitle</h1>
        <p class="lead">@Model.TagLine</p>
    </div>
</div>

<section id="categories">
    <div class="page-header">
        <h1>Categories</h1>
    </div>
	<div class="row">
    @foreach (var group in BazaarContentHelper.GetProductGroupsContent().Where(x => x.IsVisible()))
    {
        <div class="col-md-6">
            <a href="@group.Url">
                <h2>@group.Name</h2>
                @if (group.HasValue("image"))
                {
                    <img src="@group.GetCropUrl(propertyAlias: "image", imageCropMode: ImageCropMode.Max)" alt="@group.Name" />
                }
            </a>
            <p>@group.GetPropertyValue("brief")</p>
        </div>
    }
    </div>
</section>