@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoreModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Merchello.Web.Models.VirtualContent
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}

<div class="jumbotron">
    <h1>@Model.StoreTitle</h1>
    @Html.Raw(Model.Overview)
</div>

<section id="categories">
    <div class="page-header">
        <h1>Featured Products</h1>
    </div>
    @if (Model.FeaturedProducts.Any())
    {
        <div class="row">
            @foreach (var product in Model.FeaturedProducts)
            {
                <div class="col-md-4">
                    <a href="@product.Url" class="thumbnail">
                        @if (!string.IsNullOrEmpty(product.Image))
                        {
                            <img src="@(product.Image)&rnd=@DateTime.Now.Ticks" alt="@product.Name" />
                        }
                        <div class="caption">
                            <h3>@product.Name</h3>
                            <p class="price">
                                @if (product.OnSale)
                                {
                                    <span class="price-sale">
                                        @product.FormattedSalePrice <span class="glyphicon glyphicon glyphicon-fire" aria-hidden="true"></span>
                                    </span>
                                }
                                else
                                {
                                    @product.FormattedPrice
                                }
                            </p>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No featured products selected
        </div>
    }

</section>

@Html.Action("RecentlyViewed", "BazaarStore", new { area = "Bazaar", currency = Model.Currency })