@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoreModel>
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <h1>@Model.StoreTitle</h1>
        <p class="lead">@Model.TagLine</p>
    </div>
</div>

<section id="categories">
    <div class="page-header">
        <h1>Categories</h1>
    </div>
	<div class="row">
    @foreach (var group in Model.ProductGroups.Where(x => x.IsVisible()))
    {
        <span class="col-md-6">
            <a href="@group.Url">
                <h2>@group.Name</h2>
                @if (!string.IsNullOrEmpty(group.Image))
                {
                    <img src="@group.Image" alt="@group.Name" />
                }
            </a>
            <p>@group.Brief</p>
        </span>
    }
    </div>
</section>