@using Merchello.Core.Models
@* 
    Address HTML in a common format 
*@
@helper RenderAddress(IAddress address, string title)
{
    <h4>@title</h4>
    <address>
        
    @if (!string.IsNullOrEmpty( address.Organization))
    {
        <strong>@address.Organization</strong><br/>
    }
        <strong>@address.Name</strong><br>
        @address.Address1<br>
    @if (!string.IsNullOrEmpty(address.Address2))
    {
        @address.Address2
    }
    @if (!string.IsNullOrEmpty(address.Region))
    {
        @(string.Format("{0}, {1} {2}", address.Locality, address.Region, address.PostalCode))
    }
    else
    {
        @(string.Format("{0} {1}", address.Locality, address.PostalCode))
    }<br />
    @address.Country().Name<br />             
        
    @if (!string.IsNullOrEmpty(address.Email))
    {
        <abbr title="Email">E:</abbr> <a href="mailto:@address.Email">@address.Email</a>   
    }
                       
    </address>
}