@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic

@*Set a default class on all fields - needed by bootstrap*@
@Html.SetFormFieldClass("form-control")

@* Wrap all fields in a form-group - needed by bootstrap to correctly display fields horizontally*@
@Html.SetFormFieldWrapperClass("form-group")


<div class="umbraco-forms-page form-horizontal">

    @if (string.IsNullOrEmpty(Model.CurrentPage.Caption) == false)
    {
        <h4 class="umbraco-forms-caption">@Model.CurrentPage.Caption</h4>
    }
                
    @if (Model.ShowValidationSummary)
    {
        @Html.ValidationSummary(false)
    }

    @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
    {

    <fieldset class="umbraco-forms-fieldset" id="@fs.Id">

        @if (string.IsNullOrEmpty(fs.Caption) == false)
        {
            <legend>@fs.Caption</legend>
        }

        <div class="row-fluid">

            @foreach (var c in fs.Containers)
            {
                <div class="umbraco-forms-container @("col-md-" + c.Width)">

                    @foreach (FieldViewModel f in c.Fields)
                    {
                        bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;

                        <div class="@Html.GetFormFieldWrapperClass(f.FieldTypeName)  @f.CssClass" @{ if (hidden) { <text> style="display: none" </text>  } }>

                            @if (!f.HideLabel)
                            {
                                <label for="@f.Id" class="col-sm-2 control-label umbraco-forms-label">
                                    @f.Caption 
                                    @if (f.ShowIndicator)
                                    {
                                        <span class="umbracoForms-Indicator">@Model.Indicator</span>
                                    }
                                </label>
                            }

                            <div class="col-sm-10 umbraco-forms-field-wrapper">

                                @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)

                                @if (Model.ShowFieldValidaton)
                                {
                                    @Html.ValidationMessage(f.Id)
                                }

                                @if (!string.IsNullOrEmpty(f.ToolTip))
                                {
                                    <p class="help-block">@f.ToolTip</p>
                                }
                            </div>


                        </div>
                    }

                </div>

            }
        </div>

    </fieldset>

    }


    <div style="display: none">
        <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
    </div>

		
    <div class="umbraco-forms-navigation row-fluid">
		
        <div class="col-sm-10 col-sm-offset-2">
            @if (Model.IsMultiPage)
            {
                if (!Model.IsFirstPage)
                {
                    <input class="btn prev cancel" type="submit" value="@Model.PreviousCaption" name="__prev"/>
                }
                if (!Model.IsLastPage)
                {
                    <input type="submit" class="btn next" value="@Model.NextCaption" name="next"/>
                }
                if (Model.IsLastPage)
                {
                    <input type="submit" class="btn primary" value="@Model.SubmitCaption" name="submitbtn"/>
                }
            }
            else
            {
                <input type="submit" class="btn btn-primary" value="@Model.SubmitCaption" name="submitbtn"/>
            }
        </div>


    </div>

</div>