@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Core.Models
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@{
    Layout = null;

    var themedModel = Model is IMasterModel ? 
        (IMasterModel)Model : 
        (IMasterModel)Model.AncestorOrSelf("BazaarStore");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    @{  // Theme Assets references
        //// TODO make bundles
        //// .RequiresJs("http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js")

        Html.RequiresJs("/Umbraco/lib/jquery/jquery.min.js")
           .RequiresCss("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
           .RequiresCss("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500")
           .RequiresJs("/App_Plugins/Merchello.Bazaar/Assets/js/jquery.validate.min.js")
           .RequiresJs("/App_Plugins/Merchello.Bazaar/Assets/js/jquery.unobtrusive-ajax.min.js")
           .RequiresJs("/App_Plugins/Merchello.Bazaar/Assets/js/jquery.validate.unobtrusive.min.js")
           .RequiresJs("/App_Plugins/Merchello.Bazaar/Assets/js/merchello.bazaar.js")
           .RequiresPackageCss(themedModel, "bootstrap.min.css")
           .RequiresPackageCss(themedModel, "bootstrap-responsive.min.css")
           .RequiresPackageCss(themedModel, "styles.min.css")
           .RequiresPackageJs(themedModel, "bootstrap.min.js");          
    }
    @Html.RenderCssHere()
</head>
<body class="@Model.DocumentTypeAlias" id="top">
    @Html.ThemedPartial(themedModel, "NavBar")
    <div class="container">
        @RenderBody()
    </div>
    @Html.RenderJsHere()
    @RenderSection("AdditionalScripts", false)
</body>
</html>
