@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProductModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using System.Web.Mvc.Html
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}
<div class="row">
    <div class="span6">
        <h1>@Model.Name</h1>
    </div>
</div>
<div class="row">
    <div class="span8">
        <img class="img-responsive" src="@Model.GetCropUrl(propertyAlias:"image", height: 300)" alt="@Model.ProductData.Name">
        @if (Model.ProductData.ProductVariants.Any())
        {
            <h4 class="pull-right">@Model.FormattedPrice()</h4>
        }
        <h4>
            <a href="#">@Model.Name</a>
        </h4>
        @Model.Description
    </div>
    <div class="span2 pull-right">
        @Html.Action("RenderAddToBasket", "BasketOperations", new { area = "Bazaar", model = Model })
    </div>
</div>
