@inherits Umbraco.Web.Mvc.UmbracoViewPage<StoreModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}
<div class="row">
        <h1>@Model.StoreTitle</h1>
    <p class="lead">@Model.TagLine</p>
</div>

<div class="row" id="categories">
    @foreach (var group in BazaarContentHelper.GetProductGroupsContent().Where(x => x.IsVisible()))
    {
        <div>
            <a href="@group.Url">
                <h2>@group.Name</h2>
                @if (group.HasValue("image"))
                {
                    <img src="@group.GetCropUrl(propertyAlias: "image", width: 300)" alt="@group.Name" />
                }
            </a>
            <p>@group.GetPropertyValue("brief")</p>
        </div>
    }
    
</div>