@inherits Umbraco.Web.Mvc.UmbracoViewPage<AccountHistoryModel>
@using System.Globalization
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Merchello.Bazaar.Controllers
@{
    Layout = "../Master.cshtml";
}

<div class="row">
    <div class="span6">
        <h1>@Model.Name</h1>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Invoice #</th>
            <th>Invoice Date</th>
            <th>Payment Status</th>
            <th>Fulfillment Status</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in Model.Invoices.ToArray())
        {
            <tr>
                <td>@Html.ActionLink(inv.InvoiceNumber.ToString(CultureInfo.InvariantCulture), "LinkToReceipt", "BazaarAccount", new { area = "Bazaar", receiptContentId = Model.ReceiptPage.Id, invoiceKey = inv.Key }, new { @class = "invoice" })</td>
                <td>@inv.InvoiceDate.ToShortDateString()</td>
                <td>@inv.InvoiceStatus.Name</td>
                <td>
                    @{
                        if (inv.Orders.Any())
                        {
                            @inv.Orders.First().OrderStatus.Name
                        }
                    }
                </td>
                <td>@ModelExtensions.FormatPrice(inv.Total, Model.Currency.Symbol)</td>
            </tr>
        }
    </tbody>
</table>
