@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.Web
@using Controllers
@using Merchello.Core

@{
    Layout = "RosettaBasePage.cshtml";   
}

<!-- Quick and easy way to check whether the current shopping basket is empty. -->
<!-- "CurrentCustomer" is available because we've inherited from the MerchelloTemplatePage -->
@if (CurrentCustomer.Basket().IsEmpty)
{
    Response.Redirect("/");
}

@if (CurrentPage.HasValue("instructionHeading"))
{
    <h2>@CurrentPage.instructionHeading<br /><small>@CurrentPage.instructionTagLine</small></h2>
}

<div class="bs-docs-example">
    
    @using (Html.BeginUmbracoForm<CheckoutController>("SaveAddress", new { area = "RosettaStone" }, new { @class = "form form-horizontal", role = "form" }))
    {
    
        @Html.Action("RenderAddressForm", "Checkout", new { area = "RosettaStone", addressType = AddressType.Shipping })
        
        <div class="text-right">
            <input type="submit" value="Proceed to Step 2 (Get Shipping Rate Quotes)" class="btn btn-primary"/>
        </div>
    }

</div>

<div class="hero-spacer">
    @CurrentPage.instruction
</div>

@section ViewList
{
    @RosettaHelper.GetViewBoxHtml("RosettaCheckout1Address.cshtml", "Redirects to home if basket is empty, or displays partial view for address form.", new string[] { RosettaHelper.InheritsMerchelloTemplatePage, RosettaHelper.UsingMerchelloWeb })
    @RosettaHelper.GetViewBoxHtml("Partials/AddressForm.cshtml","Partial view for the address form. Abstracted into partial view to allow for reuse. Here we're passing in a parameter to specify shipping address.", new string[] { RosettaHelper.InheritsMerchelloTemplatePage, RosettaHelper.UsingModels, RosettaHelper.UsingMerchelloCore })
}

@section AddJs
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
}