@inherits Merchello.Web.Mvc.MerchelloViewPage<AddressModel>
@using Merchello.Core
@using Models

@{
    var addressType = (AddressType) ViewBag.AddressType;
    var regions = (IEnumerable<SelectListItem>) ViewBag.Regions;
    var countries = (IEnumerable<SelectListItem>) ViewBag.Countries;
    
}

@* The form is not included in this view so that we can reuse the fields in various places. *@

<div class="row">
    <div class="col-lg-12">
        
        <h3>Enter your @(((AddressType)ViewBag.AddressType) == AddressType.Shipping ? "Shipping Address" : "Billing Address")</h3>

        <div class="control-group">
            @Html.LabelFor(x => x.Name, new { @class="control-label col-sm-4"})
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.Name, new {@class="form-control", Placeholder = "Your full name"}) 
            </div>
        </div>
            
        <div class="control-group">
            @Html.LabelFor(x => x.Email, new { @class="control-label col-sm-4"})
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.Email, new {@class="form-control", Placeholder = "Your email address"}) 
            </div>
        </div>
            
        <div class="control-group">
            @Html.LabelFor(x => x.Address1, new { @class="control-label col-sm-4"})
        
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.Address1, new {@class="form-control", Placeholder = "Address Line 1"}) 
            </div>
        </div>
 
        <div class="control-group">
            @Html.LabelFor(x => x.Address2, new { @class="control-label col-sm-4"})
        
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.Address2, new {@class="form-control", Placeholder = "Address Line 2"})
            </div>
        </div>
            
        <div class="control-group">
            @Html.LabelFor(x => x.Locality, new { @class="control-label col-sm-4"})
        
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.Locality, new {@class="form-control", Placeholder = "Locality or City"})
            </div>
        </div>
                        
        <div class="control-group">
            @Html.LabelFor(x => x.Region, "State or Province", new{ @class="control-label col-sm-4"})
            <div class="controls  col-sm-8">
                @Html.DropDownListFor(x => x.Region, regions, "Select", new { @class="form-control"})
            </div>
        </div>
            
        <div class="control-group">
            @Html.LabelFor(x => x.PostalCode, new { @class="control-label col-sm-4"})
        
            <div class="controls  col-sm-8">
                @Html.TextBoxFor(x => x.PostalCode, new {@class="form-control", Placeholder = "Postal or Zip Code"})
            </div>
        </div>
            
        <div class="control-group">
            @Html.LabelFor(x => x.CountryCode, "Country", new{ @class="control-label col-sm-4"})
            <div class="controls   col-sm-8">
                @Html.DropDownListFor(x => x.CountryCode, countries, "Select", new { @class="form-control"})
            </div>
        </div>

        @Html.HiddenFor(x => x.AddressType, addressType)

    </div>   
</div>