@inherits Merchello.Web.Mvc.MerchelloViewPage<IInvoice>
@using Merchello.Core
@using Merchello.Core.Models

@{
    var companyInfo = new Address()
        {
            Organization = "Rosetta Bean Corp",
            Name = "Customer Service",
            Address1 = "1212 Bean Corp Plaza",
            Locality = "New York",
            Region = "NY",
            PostalCode = "11122",
            CountryCode = "US",
            Email = "support@rosetta-beans.com"
        };
}

<div class="row">
    <div class="col-lg-4">
        @RosettaSnippets.RenderAddress(Model.GetBillingAddress(), "INVOICE")
    </div>
    <div class="col-lg-4">
        @RosettaSnippets.RenderAddress(companyInfo, "FROM")
    </div>
    <div class="col-lg-4">
        <div class="row">
    <div class="col-lg-6 text-right">
        <b>Invoice Number:</b>
    </div>
    <div class="col-lg-6">
        @(Model.PrefixedInvoiceNumber() == "0" ? "TBD" : Model.PrefixedInvoiceNumber())
    </div>

    <div class="row">
        <div class="col-lg-6 text-right">
            <b>Date:</b>
        </div>
        <div class="col-lg-6">
            @Model.InvoiceDate.ToShortDateString()
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-6 text-right">
            <b>Status:</b>
        </div>
        <div class="col-lg-6">
            @Model.InvoiceStatus.Name
        </div>
    </div>
</div>
    </div>
</div>

<h4>Description</h4>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Sku</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Totals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items.Where(x => x.LineItemType == LineItemType.Product))
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Sku</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
        <tr>            
            <td colspan="4" class="text-right"><b>Shipping Total:</b></td>
            <td>@Model.TotalShipping().ToString("C")</td>
        </tr>
        <tr>            
            <td colspan="4" class="text-right"><b>Tax:</b></td>
            <td>@Model.TotalTax().ToString("C")</td>
        </tr>
        <tr>
            <td colspan="3">All sales are final.</td>
            <td class="text-right"><b>Invoice Total:</b></td>
            <td>@Model.Total.ToString("C")</td>
        </tr>
    </tbody>
</table>
