@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.FastTrackBillingAddressModel>
@using System.Web.Mvc.Html
@using Merchello.Core.Localization
@using Merchello.FastTrack.Controllers
@using Merchello.Web.Store.Controllers
@using Umbraco.Web
@using CheckoutAddressController = Merchello.Web.Store.Controllers.CheckoutAddressController

<h3>Billing Address</h3>
@using (Html.BeginUmbracoForm<CheckoutAddressController>("SaveBillingAddress", new { area = "Merchello" }, new { data_muistage = "BillingAddress" }))
{

    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.FirstName) *
            @Html.ValidationMessageFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>

        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.LastName) *
            @Html.ValidationMessageFor(x => x.LastName)
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Email) *
            @Html.ValidationMessageFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Organization)
            @Html.TextBoxFor(x => x.Organization, new { @class = "form-control" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Address1)
            @Html.ValidationMessageFor(x => x.Address1)
            @Html.TextBoxFor(x => x.Address1, new { @class = "form-control" })
        </div> 

        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.Address2)
            @Html.TextBoxFor(x => x.Address2, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.Locality)
            @Html.ValidationMessageFor(x => x.Locality)
            @Html.TextBoxFor(x => x.Locality, new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.Region)
            @Html.TextBoxFor(x => x.Region, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.PostalCode) *
            @Html.ValidationMessageFor(x => x.PostalCode)
            @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
        </div>
        <div class="col-md-6 form-group">
            @Html.LabelFor(x => x.CountryCode)
            @Html.ValidationMessageFor(x => x.CountryCode)
            @Html.DropDownListFor(x => x.CountryCode, Model.Countries, StoreFormsResource.PleaseSelect, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group checkbox">
            <label>
                @Html.CheckBoxFor(x => x.UseForShipping) Use for shipping address
            </label>
        </div>
    </div>
    @Html.HiddenFor(x => x.Key)
    @Html.HiddenFor(x => x.AddressType)
    @Html.AntiForgeryToken()
    <div class="text-right">
        <input type="submit" class="btn btn-default" value="Save" />
    </div>
}