@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StoreAddressModel>
@using System.Web.Mvc.Html
@using Merchello.Web.Store.Controllers
@using Umbraco.Web

<h2>Shipping Address</h2>
@using (Html.BeginUmbracoForm<CheckoutAddressController>("SaveBillingAddress", new { area = "Merchello" }, new { data_muistage = "ShippingAddress" }))
{
    <div class="control-group">
        @Html.LabelFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
    </div>

    <div class="control-group">
        @Html.LabelFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
    </div>

    <div class="control-group">
        <label>Company name (Optional)</label>
        @Html.TextBoxFor(x => x.Organization)
    </div>
    <div class="control-group">
        <label>Address line 1 *</label>
        @Html.ValidationMessageFor(x => x.Address1)
        @Html.TextBoxFor(x => x.Address1)
    </div>
    <div class="control-group">
        <label>Address line 2</label>
        @Html.TextBoxFor(x => x.Address2)
    </div>
    <div class="control-group">
        <label>Town / City *</label>
        @Html.ValidationMessageFor(x => x.Locality)
        @Html.TextBoxFor(x => x.Locality)
    </div>
    <div class="control-group">
        <label>Postal Code *</label>
        @Html.ValidationMessageFor(x => x.PostalCode)
        @Html.TextBoxFor(x => x.PostalCode)
    </div>


    @Html.HiddenFor(x => x.Key)
    @Html.HiddenFor(x => x.AddressType)
    @Html.AntiForgeryToken()

}