@inherits Umbraco.Web.Mvc.UmbracoViewPage<AddItemModel>
@using System.Text
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using Merchello.Core.Models
@using Merchello.Web.Models.ContentEditing
@using Umbraco.Web

@{
    var hasVariants = Model.Product.ProductVariants.Any();
}

<div class="well add-to-cart@(hasVariants ? " has-variants" : string.Empty)">
    @if (hasVariants)
    {
        <div class="price text-center variant-pricing" id="@Model.Product.Key"></div>
    }
    else
    {
        <div class="price text-center">@GetSingleProductPrice(Model.Product, Model.Currency)</div>
    }
    <div class="form-group add-button">
        @{
            using (Html.BeginUmbracoForm<BazaarBasketController>("AddToBasket", new { @class = "bs-docs-example", role = "form" }))
            {

                if (hasVariants)
                {
                    var index = 0;

                    foreach (var option in Model.Product.ProductOptions)
                    {

                        var choices = option.Choices.OrderBy(x => x.SortOrder).Select(choice => new System.Web.Mvc.SelectListItem() { Value = choice.Key.ToString(), Text = choice.Name }).ToList();
                        choices.First().Selected = true;

                        @Html.LabelFor(x => x.OptionChoices[index], option.Name, new { @class = "control-label" })

                        <div class="form-group">
                            @Html.DropDownListFor(x => x.OptionChoices[index], choices, new { name = option.Name.ToLower().Replace(" ", "-"), id = option.Key, @class = "form-control ProductVariants" })
                            @Html.ValidationMessageFor(x => x.OptionChoices, "Please select one")
                        </div>

                        index = index + 1;
                    }

                }

                if (hasVariants || Model.Product.TrackInventory)
                {
                    <div id="inv-@Model.Product.Key" class="inventoryWrap">
                        @if (!hasVariants && Model.Product.TrackInventory)
                        {
                            if (Model.Product.TotalInventoryCount > 0)
                            {
                                <span>In Stock (@Model.Product.TotalInventoryCount)</span>
                            }
                            else
                            {
                                <span>Out of stock</span>
                            }
                        }
                    </div>
                }

                @Html.HiddenFor(x => x.ContentId, new { @id = "cid-" + Model.Product.Key })
                @Html.HiddenFor(x => x.Product.Key, new { @id = "pkey-" + Model.Product.Key })
                @Html.HiddenFor(x => x.BasketPageId, new { @id = "bid-" + Model.Product.Key })
                @Html.HiddenFor(x => x.WishListPageId, new { @id = "wlid-" + Model.Product.Key })
                if (Model.Product.ProductVariants.Any() ||
                    (!Model.Product.ProductVariants.Any() && Model.Product.TrackInventory && Model.Product.TotalInventoryCount > 0) ||
                    !Model.Product.TrackInventory)
                {
                    <div class="control-group text-center">
                        <input type="submit" value="Add to Basket" class="btn btn-default" id="btn-@Model.Product.Key" />
                    </div>
                }
            }

        }
    </div>
</div>

@functions
{

    private static IHtmlString GetSingleProductPrice(ProductDisplay product, ICurrency currency)
    {
        var sb = new StringBuilder();
        if (product.OnSale)
        {
            sb.AppendFormat("<span class='sale-price'>{0}</span>", FormatPrice(product.SalePrice, currency));
            sb.AppendFormat("<span class='original-price'>{0}</span>", FormatPrice(product.Price, currency));
        }
        else
        {
            sb.AppendFormat("<span>{0}</span>", FormatPrice(product.Price, currency));
        }

        return MvcHtmlString.Create(sb.ToString());
    }

    private static string FormatPrice(decimal price, ICurrency currency)
    {
        return ModelExtensions.FormatPrice(price, currency.Symbol);
    }
}