@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutConfirmationForm>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Models
@using Umbraco.Web

<!-- Cash Payment Method -->
@using (Html.BeginUmbracoForm<CashPaymentMethodController>("ConfirmSale", null, new { @id = "ConfirmSale" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ShipMethodKey, new { @class = "selected-shipmethod-key" })
    @Html.HiddenFor(x => x.PaymentMethodKey, new { @class = "selected-paymentmethod-key" })
    @Html.HiddenFor(x => x.CustomerToken, new { @id = "customer-token" })
    @Html.HiddenFor(x => x.ReceiptPageId)
    <div class="control-group">
        <button type="submit" class="btn btn-primary">Confirm Sale</button>
    </div>
}