@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutAddressForm>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using Merchello.Bazaar
@using Umbraco.Web



<div class="row">



    @using (Html.BeginUmbracoForm<CheckoutManagerOperationsController>("SaveAddresses", null, new { @id="addresses-form"}))
    {
        <div class="col-md-8">
			<div class="row">
                <div class="col-md-6">
                    <h2>Billing Address</h2>
                    @if (!Model.IsAnonymous && Model.BillingAddresses.Any())
                    {
                        <div class="control-group">
                            @Html.LabelFor(x => x.BillingAddresses, new { @classs = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(x => x.BillingAddressKey, Model.BillingAddresses, new { @id = "billing-address-select", @class = "form-control" })
                            </div>
                        </div>
                    }
                    <fieldset id="billing-address">

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingName, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingName)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingName, new { @id="billing-name", @placeholder = "Your full name", @class="form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingEmail, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingEmail)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingEmail, new { @id="billing-email", @placeholder = "Your email address", @class = "form-control" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingAddress1, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingAddress1)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingAddress1, new { @id="billing-address1", @placeholder = "Address line 1", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingAddress2, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingAddress2, new { @id = "billing-address2", @placeholder = "Address line 2", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingLocality, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingLocality)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingLocality, new { @id = "billing-locality", @placeholder = "Your locality or city", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(x => x.BillingRegion, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingRegion, new { @placeholder = "Your region or province", @id="billing-province-entry", @data_addresstype="billing", @class = "form-control" })
                                <select id="billing-province-select" class="form-control" data-addresstype="billing"></select>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingCountries, new { @class = "control-label" })
                            <div class="controls">
                                @Html.DropDownListFor(x => x.BillingCountryCode, Model.BillingCountries, new { @id="billing-country-select", @class = "country-selection form-control",  @data_addresstype="billing" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingPostalCode, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingPostalCode)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingPostalCode, new { @id = "billing-postalcode", @placeholder = "Your postal code", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.BillingPhone, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingPhone, new { @id="billing-phone", @placeholder = "Your telephone number", @class = "form-control" })
                            </div>
                        </div>

                    </fieldset>

                    <div id="billing-vcard" class="vcard">
                        <span class="fn" id="billing-vcard-fn"></span>
                        <span class="adr">
                            <span class="street-address" id="billing-vcard-address1"></span>
                            <span class="extended-address" id="billing-vcard-address2"></span>
                            <span class="locality" id="billing-vcard-locality"></span>, <span class="region" id="billing-vcard-region"></span> <span class="postal-code" id="billing-vcard-postalcode"></span>
                            <span class="country-name" id="billing-vcard-country"></span>
                        </span>
                    </div>
                </div>
			    <div class="col-md-6">

			        <h2>Shipping Address</h2>
			        @if (!Model.IsAnonymous && Model.ShippingAddresses.Any())
			        {
			            <div class="control-group">
			                @Html.LabelFor(x => x.ShippingAddresses, new { @classs = "control-label" })
			                <div class="controls">
			                    @Html.DropDownListFor(x => x.ShippingAddressKey, Model.ShippingAddresses, new { @id = "shipping-address-select", @class = "form-control" })
			                </div>
			            </div>
			        }
			        <fieldset id="shipping-address">


			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingName, new { @class = "control-label" })
			                @Html.ValidationMessageFor(x => x.ShippingName)
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingName, new { @id="shipping-name", @placeholder = "Your full name", @class = "form-control" })
			                </div>
			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingEmail, new { @class = "control-label" })
			                @Html.ValidationMessageFor(x => x.ShippingEmail)
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingEmail, new { @id = "shipping-email", @placeholder = "Your email address", @class = "form-control" })
			                </div>
			            </div>


			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingAddress1, new { @class = "control-label" })
			                @Html.ValidationMessageFor(x => x.ShippingAddress1)
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingAddress1, new { @id = "shipping-address1", @placeholder = "Address line 1", @class = "form-control" })
			                </div>
			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingAddress2, new { @class = "control-label" })
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingAddress2, new { @id = "shipping-address2", @placeholder = "Address line 2", @class = "form-control" })
			                </div>
			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingLocality, new { @class = "control-label" })
			                @Html.ValidationMessageFor(x => x.ShippingLocality)
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingLocality, new { @id = "shipping-locality", @placeholder = "Your locality or city", @class = "form-control" })
			                </div>
			            </div>

			            <div class="form-group">

			                @Html.LabelFor(x => x.ShippingRegion, new { @class = "control-label" })
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingRegion, new { @placeholder = "Your region or province", @id = "shipping-province-entry",  @data_addresstype="shipping", @class = "form-control" })
			                    <select name="shippingRegionSelect" id="shipping-province-select" class="form-control" data-addresstype="shipping"></select>
			                </div>

			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingCountries, new { @class = "control-label" })
			                <div class="controls">
			                    @Html.DropDownListFor(x => x.ShippingCountryCode, Model.ShippingCountries, new { @id="shipping-country-select", @class = "country-selection form-control",  @data_addresstype="shipping" })
			                </div>
			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingPostalCode, new { @class = "control-label" })
			                @Html.ValidationMessageFor(x => x.ShippingPostalCode)
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingPostalCode, new { @id = "shipping-postalcode", @placeholder = "Your postal code", @class = "form-control" })
			                </div>
			            </div>

			            <div class="form-group">
			                @Html.LabelFor(x => x.ShippingPhone, new { @class = "control-label" })
			                <div class="controls">
			                    @Html.TextBoxFor(x => x.ShippingPhone, new { @id = "shipping-phone", @placeholder = "Your telephone number", @class = "form-control" })
			                </div>
			            </div>

			        </fieldset>
			        <div id="shipping-vcard" class="vcard">
			            <span class="fn" id="shipping-vcard-fn"></span>
			            <span class="adr">
			                <span class="street-address" id="shipping-vcard-address1"></span>
			                <span class="extended-address" id="shipping-vcard-address2"></span>
			                <span class="locality" id="shipping-vcard-locality"></span>, <span class="region" id="shipping-vcard-region"></span> <span class="postal-code" id="shipping-vcard-postalcode"></span>
			                <span class="country-name" id="shipping-vcard-country"></span>
			            </span>
			        </div>
			        <div class="form-group" id="billing-is-shipping-check">
			            <label class="checkbox">
			                @Html.CheckBoxFor(x => x.BillingIsShipping, new { @id = "billing-is-shipping" }) Use billing address
			            </label>
			        </div>
			    </div>
			 </div>
            
		</div>
        <div class="col-md-3 col-md-offset-1">
            @Html.ThemedPartial(Model.ThemeName, "SaleSummary", Model.SaleSummary)
            @Html.HiddenFor(x => x.ConfirmSalePageId)
            @Html.HiddenFor(x => x.IsAnonymous)
            @if (!Model.IsAnonymous)
            {
                <div id="save-addresses-options">
                    <div class="form-group">
                        <label class="checkbox">
                            @Html.CheckBoxFor(x => x.SaveCustomerAddress, new { @id = "save-addresses-check" }) Save my addresses to my account for use again.
                        </label>
                    </div>
                    <div id="customer-address-labels">
                        <div class="text-info alert">
                            We use these labels to help you select your saved addresses in the future.
                        </div>
                        <div class=" form-group" id="billing-address-label-save">
                            @Html.LabelFor(x => x.BillingAddressLabel, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.BillingAddressLabel)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.BillingAddressLabel, new { @id = "billing-address-label", @placeholder = "My House" })
                            </div>
                        </div>
                        <div class="form-group" id="shipping-address-label-save">
                            @Html.LabelFor(x => x.ShippingAddressLabel, new { @class = "control-label" })
                            @Html.ValidationMessageFor(x => x.ShippingAddressLabel)
                            <div class="controls">
                                @Html.TextBoxFor(x => x.ShippingAddressLabel, new { @id = "shipping-address-label", @placeholder = "My House" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Continue Checkout</button>
            </div>
        </div>

	
    }
	
</div>