@inherits UmbracoViewPage<InvoiceSummary>
@using System.Web.Mvc.Html
@using System.Web.Routing
@using Merchello.Core.Models
@using umbraco.providers.members
@using Umbraco.Web.Mvc
@using Merchello.Bazaar
@using Merchello.Core
@using Merchello.Bazaar.Models

@{
    var discounts = Model.Invoice.DiscountLineItems();
    var isReceipt = Model.Invoice.HasIdentity;
}

<h2>
    Order Details
</h2>
@if (isReceipt)
{
    <h3 class="sub-title">
        <span>Invoice Number: @Model.Invoice.InvoiceNumber</span>
        <span class="pull-right text-right">@Model.Invoice.InvoiceDate.ToString("MMMM dd, yyyy")</span>
    </h3>
}
<table class="table table-invoice">
    <thead>
        <tr>
            <th>Description</th>
            <th>Price</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Totals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice.Items.Where(x => x.LineItemType == LineItemType.Product))
        {
            <tr>
                <td>@item.Name</td>
                <td>@ModelExtensions.FormatPrice(item.Price, Model.Currency)</td>
                <td class="text-center">@item.Quantity</td>
                <td class="text-right">@ModelExtensions.FormatPrice(item.TotalPrice, Model.Currency)</td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-right"><b>Shipping Total:</b></td>
            <td class="text-right"><span id="shipping-total">@ModelExtensions.FormatPrice(Model.Invoice.Items.Where(x => x.LineItemType == LineItemType.Shipping).Sum(x => x.Price), Model.Currency)</span></td>
        </tr>
        <tr>
            <td colspan="3" class="text-right"><b>Tax Total:</b></td>
            <td class="text-right"><span id="tax-total">@ModelExtensions.FormatPrice(Model.Invoice.Items.Where(x => x.LineItemType == LineItemType.Tax).Sum(x => x.Price), Model.Currency)</span></td>
        </tr>
        @if (discounts.Any())
        {
            <tr>
                <td colspan="4"><em>Less Discounts</em></td>
            </tr>

            foreach (var item in discounts)
            {
                <tr>
                    <td>@item.Name</td>
                    <td colspan="2"><b>Offer Code:</b> @item.Sku @RenderRemoveCouponLink(item.Sku, isReceipt)</td>
                    <td class="text-right">(@ModelExtensions.FormatPrice(item.TotalPrice, Model.Currency))</td>
                </tr>
            }
        }
        <tr>
            <td colspan="3" class="text-right"><b>Total:</b></td>
            <td class="text-right"><span id="invoice-total">@ModelExtensions.FormatPrice(Model.Invoice.Total, Model.Currency)</span></td>
        </tr>
    </tbody>
</table>

@helper RenderRemoveCouponLink(string offerCode, bool isReceipt)
{
    if (!isReceipt)
    {
        @Html.ActionLink("(Remove)", "RemoveCoupon", "CheckoutManagerOperations", new { area = "Bazaar", offerCode = offerCode, redirectId = Model.CurrentPageId }, null)
    } 
    
}