@inherits Umbraco.Web.Mvc.UmbracoViewPage<CustomerRegistrationModel>	
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using Umbraco.Web

@{
    
    using (Html.BeginUmbracoForm<MembershipOperationsController>("HandleSignIn", new { area = "Bazaar" }, new { @class = "form-horizontal"}))
    {
        
        <div class="form-group">
            @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.FirstName)
            <div class="controls">
                @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Your first name"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.LastName)
            <div class="controls">
                @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Your last name" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.EmailAddress)
            <div class="controls">
                @Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "Your email address" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Password, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.Password)
            <div class="controls">
                @Html.PasswordFor(x => x.Password, new { @placeholder = "Your password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword)
            <div class="controls">
                @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm your password" })
            </div>
        </div>
        @Html.HiddenFor(x => x.MemberTypeName)
        <div class="form-group">
            <div class="controls">
                <label class="checkbox">
                    @Html.CheckBoxFor(x => x.PersistLogin) Remember Me
                </label>
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    }
}