@inherits UmbracoViewPage<RedeemCouponOfferForm>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using Merchello.Web.Discounts.Coupons
@using Umbraco.Web
@using Umbraco.Web.Mvc
@{
    var couponRedemptionResult = (ICouponRedemptionResult)ViewBag.CouponRedemptionResult;
}
<div class="row-fluid" id="redeem-coupon">

    <div class="form-group col-md-8 col-lg-offset-3">
        @using (Html.BeginUmbracoForm<CheckoutManagerOperationsController>("RedeemCouponOffer", new { area = "Bazaar" }, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.Label("Offer code") @Html.ValidationMessageFor(x => x.OfferCode)
                @Html.TextBoxFor(x => x.OfferCode, new { placeholder = "Offer code", @class="form-control" })
                <input type="submit" class="btn btn-primary" value="Apply" />
            </div>
        }
        @if (couponRedemptionResult != null)
        {
            if (!couponRedemptionResult.Success)
            {
                var errorMessage = couponRedemptionResult.Exception.Message;
                <div class="alert alert-coupon alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Could not redeem coupon:</strong> @errorMessage.
                    @if (couponRedemptionResult.Messages.Any())
                    {
                        <ul>
                            @foreach (var msg in couponRedemptionResult.Messages)
                            {
                                <li>@msg</li>
                            }
                        </ul>
                    }

                </div>
            }
        }
    </div>
</div>