@inherits Umbraco.Web.Mvc.UmbracoViewPage<SalePreparationSummary>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models


    <table class="table table-striped">
        <caption>Order Summary</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="text-right">@item.FormatTotalPrice(Model.Currency)</td>
                </tr>
            }
            <tr>
                <td>Shipping</td>
                <td><span id="shipping-total">@Model.ShippingTotal</span></td>
            </tr>
            <tr>
                <td>Taxes</td>
                <td><span id="tax-total">@Model.TaxTotal</span></td>
            </tr>
            @if (false)
            {
                <tr>
                    <td>Discounts</td>
                    <td><span id="discount-total">@Model.DiscountsTotal</span></td>
                </tr>
            }
            <tr>
                <td class="text-right"><strong>@Model.TotalLabel:</strong></td>
                <td class="text-right"><span id="invoice-total">@Model.InvoiceTotal</span></td>
            </tr>
        </tbody>

    </table>
