@inherits Umbraco.Web.Mvc.UmbracoViewPage<WishListTableModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Umbraco.Web
@{
    
    using (Html.BeginUmbracoForm<BazaarWishListController>("UpdateWishList", new { area = "Bazaar" }))
    {
        <table class="table wishList">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (var i = 0; i < Model.Items.Count(); i++)
                    {
                        <tr>
                            <td class="image">
                                @Html.HiddenFor(model => Model.Items[i].Key)

                                @if (Model.Items[i].Product == null)
                                {
                                    <span>@Model.Items[i].Name</span>
                                }
                                else
                                {
                                    if (Model.Items[i].Product.HasValue("image"))
                                    {
                                        <a href="@Model.Items[i].Product.Url"><img src="@Model.Items[i].Product.GetCropUrl(propertyAlias: "image", width: 20)" alt="@Model.Items[i].Product.Name" width="20" /></a>
                                    }
                                    <a href="@Model.Items[i].Product.Url"><span>@Model.Items[i].Name</span></a>
                                }
                            </td>
                            <td>@Model.Items[i].FormatUnitPrice(Model.Currency.Symbol)</td>
                            <td>@Html.TextBoxFor(model => Model.Items[i].Quantity, new { @class = "col-xs-2", @type="number" })</td>
                            <td>@Model.Items[i].FormatTotalPrice(Model.Currency.Symbol)</td>
                            <td>
                                @Html.ActionLink("To Basket", "MoveItemToBasket", "BazaarWishList", new { area = "Bazaar", lineItemKey = Model.Items[i].Key, basketPageId = Model.BasketPageId, wishListPageId = Model.WishListPageId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Remove", "RemoveItemFromWishList", "BazaarWishList", new { area = "Bazaar", lineItemKey = Model.Items[i].Key, wishListPageId = Model.WishListPageId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col-lg-12 text-right">
                <input type="submit" id="update-cart" class="btn btn-default" name="update" value="Update" />
            </div>
        </div>
    }
}