@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.FastTrackPaymentMethodModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using Umbraco.Web
@{
    Model.SuccessRedirectUrl = ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.Payment).Url;
}

<h3>Payment Method Selection</h3>
@using (Html.BeginUmbracoForm<CheckoutPaymentMethodController>("SetPaymentMethod", new { area = "FastTrack" }))
{
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.PaymentMethods)
            @Html.DropDownListFor(x => x.PaymentMethodKey, Model.PaymentMethods, new { @class = "form-control" })
        </div>
    </div>
    
    <div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.SuccessRedirectUrl)
        <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShipRateQuote).Url" class="btn btn-default">Back</a>
        <input type="submit" class="btn btn-default pull-right" value="Save" />
    </div>
}