@using Merchello.Core
@inherits Merchello.Web.Mvc.MerchelloViewPage<Guid>
@{
    var allCollections = Merchello.Collections.Product.GetAll();
    var rootCollections = Merchello.Collections.Product.GetRootLevelCollections();

    var primed = Merchello.Filters.Product.GetFilterGroupsForCollectionContext(new Guid[] { Model });
}

<h2>@Model.ToString()</h2>

<h3>All Collections</h3>
<ul>
    @foreach (var c in allCollections)
    {
        <li>@c.Name</li>
    }
</ul>

<h3>Root Collections</h3>
<ul>
    @foreach (var c in rootCollections)
    {
        <li>@c.Name</li>
    }
</ul>

<h3>"Primed" Filters</h3>
<ul>
    @foreach (var fg in primed)
    {
        <li>
            @fg.Name (@fg.Count)

            <ul>
                @foreach (var f in fg.Filters)
                {
                    <li>@f.Name (@f.Count)</li>
                }
            </ul>
        </li>
    }
</ul>

