@inherits UmbracoViewPage<ApplyCouponForm>
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models
@using Umbraco.Web
@using Umbraco.Web.Mvc

<div class="row-fluid">

    <div class="col-xs-8 span8 offset3">
        @using (Html.BeginUmbracoForm<SalePreparationOperationsController>("ApplyOfferCode", new { area = "Bazaar" }, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()
            <div class="control-group">
                @Html.Label("Offer code") @Html.ValidationMessageFor(x => x.OfferCode)
                @Html.TextBoxFor(x => x.OfferCode, new { placeholder = "Offer code" })
                <input type="submit" class="btn btn-primary" value="Apply" />                
            </div>
        }
        @if (Model.Messages.Any())
        {
            <ul>
                @foreach (var msg in Model.Messages)
                {
                    <li>@msg</li>
                }
            </ul>
        }
        
        @if (Model.Items.Any())
        {

            <table class="table table-striped">
                <caption>Discount itemization</caption>
                <thead>
                    <tr>
                        <th>Discount</th>
                        <th>Offer Code</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.OfferCode</td>
                            <td>@ModelExtensions.FormatPrice(item.Price, Model.CurrencySymbol)</td>
                            <td><!-- remove button here--></td>
                        </tr>
                    }
                </tbody>
            </table>

        }
    </div>
</div>