@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutConfirmationForm>
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Models
@using Merchello.Bazaar
@using Merchello.Core.Models
@using Umbraco.Web


<div class="row-fluid">

    @using (Html.BeginUmbracoForm<SalePreparationOperationsController>("ConfirmSale", null, new { @id = "ConfirmSale" }))
    {
        <div class="span3">
            <div class="control-group">
                @Html.LabelFor(x => x.ShippingQuotes)
                <div class="controls">
                    @Html.DropDownListFor(x => x.ShipMethodKey, Model.ShippingQuotes, new { @id = "shipping-quotes-select" })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(x => x.PaymentMethods)
                <div class="controls">
                    @Html.DropDownListFor(x => x.PaymentMethodKey, Model.PaymentMethods, new { @id="payment-method-select"})
                </div>
            </div>
        </div>
        
        <div class="span8 offset1">
            @Html.ThemedPartial(Model.ThemeName, "SaleSummary", Model.SaleSummary)
            @Html.HiddenFor(x => x.CustomerToken, new { @id="customer-token" })
            @Html.HiddenFor(x => x.ReceiptPageId)
            <div class="control-group">
                <button type="submit" class="btn btn-primary">Confirm Sale</button>
            </div>
        </div>
       // loop that will iterate through the payment providers and display a different
    }

</div>

@helper PaymentMethodForms(IEnumerable<IPaymentMethod> paymentMethods)
{
    foreach (var pm in paymentMethods.ToArray())
    {
        <div id="@pm.Key">
            @pm.Name
        </div>
    }
}