@inherits Umbraco.Web.Mvc.UmbracoViewPage<CustomerAddressModel>
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models.Account
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Umbraco.Web

@using (Html.BeginUmbracoForm<BazaarAccountController>("SaveCustomerAddress", null, new { @id = "addresses-form", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <h2 id="address-caption"></h2>
    <fieldset>
        
        <div class="control-group">
            @Html.LabelFor(x => x.Label, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.Label)
            <div class="controls">
                @Html.TextBoxFor(x => x.Label, new { @id = "address-label", @placeholder = "My house", @class = "span10" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.FullName, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.FullName)
            <div class="controls">
                @Html.TextBoxFor(x => x.FullName, new { @id = "address-fullname", @placeholder = "Your full name", @class = "span10" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Address1, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.Address1)
            <div class="controls">
                @Html.TextBoxFor(x => x.Address1, new { @id = "address-address1", @placeholder = "Address line 1", @class = "span10" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Address2, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Address2, new { @id = "address-address2", @placeholder = "Address line 2", @class = "span10" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Locality, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.Locality)
            <div class="controls">
                @Html.TextBoxFor(x => x.Locality, new { @id = "address-locality", @placeholder = "Your locality or city", @class = "span10" })
            </div>
        </div>

        <div class="control-group">

            @Html.LabelFor(x => x.Region, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Region, new { @id = "address-province-entry", @placeholder = "Your region or province" })
                <select name="regionSelect" id="address-province-select" class="span8"></select>
            </div>

        </div>
       
        <div class="control-group">
            @Html.LabelFor(x => x.CountryCode, new { @class = "control-label" })
            <div class="controls">
                    
                @Html.DropDownListFor(x => x.CountryCode, Model.AllCountries, new { @id = "address-countrycode-billing", @class = "country-selection span10" })
                    
                @Html.DropDownListFor(x => x.CountryCode, Model.ShipCountries, new { @id = "address-countrycode-shipping", @class = "country-selection span10" })
                 
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.PostalCode, new { @class = "control-label" })
            @Html.ValidationMessageFor(x => x.PostalCode)
            <div class="controls">
                @Html.TextBoxFor(x => x.PostalCode, new { @id = "address-postalcode", @placeholder = "Your postal code" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(x => x.Phone, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(x => x.Phone, new { @id = "address-phone", @placeholder = "Your telephone number", @class = "span10" })
            </div>
        </div>
        
        @Html.HiddenFor(x => x.CustomerKey)
        @Html.HiddenFor(x => x.Key, new { @id = "address-key" })
        @Html.HiddenFor(x => x.AddressType, new { @id = "address-addresstype" })
        <div class="control-group span12">
            @Html.HiddenFor(x => x.AccountPageId)
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-default" id="btn-address-form-cancel">Cancel</a>
        </div>
    </fieldset>

}