@inherits Merchello.Web.Mvc.MerchelloViewPage<IPublishedContent>
@using System.Web.Mvc.Html
@using Merchello.Bazaar
@using Merchello.Core.Models
@using Umbraco.Core.Models
@using Merchello.Web
@using Umbraco.Web

<div class="navbar">
    <div class="navbar-inner">
        <div class="container" style="width: auto;">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@BazaarContentHelper.GetStoreRoot().Url">@BazaarContentHelper.StoreTitle()</a>
            <div class="nav-collapse">
                <ul class="nav">
                    @foreach (var group in BazaarContentHelper.GetProductGroupsContent())
                    {
                        <li><a href="@group.Url">@group.Name</a></li>
                    }
                    @{
                        var collections = BazaarContentHelper.GetProductCollectionContent().ToArray();
                    }
                    @if (collections.Any())
                    {
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Categories <span class="caret"></span>
                            </a>
                            @foreach (var collection in collections)
                            {
                                <ul class="dropdown-menu">
                                    <li><a href="@collection.Url">@collection.Name</a></li>
                                </ul>
                            }
                        </li>
                    }
                </ul>
                
                <ul class="nav pull-right">
                    @if (BazaarContentHelper.ShowAccount())
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@GetAccountDropDownName(CurrentCustomer) <b class="caret"></b></a>
                            <ul class="dropdown-menu" id="swatch-menu">
                                @if (CurrentCustomer.IsAnonymous)
                                {
                                    <li><a href="@BazaarContentHelper.GetRegistrationContent().Url">Sign Up / Login</a></li>
                                }
                                else
                                {
                                    <li><a href="@BazaarContentHelper.GetAccountContent().Url">Account</a></li>
                                    var purchaseHistory = BazaarContentHelper.GetAccountContent().Descendant("BazaarAccountHistory");
                                    if (purchaseHistory != null)
                                     {
                                        <li><a href="@purchaseHistory.Url">Purchase History</a></li>     
                                     }
                                    <li>@Html.ActionLink("Logout", "HandleSignOut", "MembershipOperations", new { area = "Bazaar" }, null)</li>
                                }
                            </ul>
                        </li>
                    }
                    @if (!CurrentCustomer.IsAnonymous && BazaarContentHelper.ShowWishList())
                    {
                        <li><a href="@BazaarContentHelper.GetWishListContent().Url">Wish List (@(((ICustomer)CurrentCustomer).WishList().TotalItemCount))</a></li>
                    }
                    <li><a href="@BazaarContentHelper.GetBasketContent().Url">Basket (@CurrentCustomer.Basket().TotalItemCount)</a></li>
                </ul>

            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</div>

@functions
{
    /// <summary>
    /// Returns the customer name or "Account" for the Account link based on login status
    /// </summary>
    /// <param name="currentCustomer">Mechello's <see cref="ICustomerBase"/></param>
    /// <returns>A string label for the Acccoun tab</returns>
    /// <remarks>
    /// A bit hacky here, but it does the trick.
    /// </remarks>
    private string GetAccountDropDownName(ICustomerBase currentCustomer)
    {
        if (currentCustomer.IsAnonymous) return "Account";

        var customer = (ICustomer)currentCustomer;
        var name = customer.FullName;

        if (!string.IsNullOrEmpty(name)) return name;

        return "Account";
    } 

}
