@inherits Umbraco.Web.Mvc.UmbracoViewPage<AccountProfileModel>
@using System.Web.Mvc
@using Merchello.Bazaar.Controllers.Surface
@using Merchello.Bazaar.Models.Account
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Umbraco.Web
@{
    using (Html.BeginUmbracoForm<BazaarAccountController>("UpdateAccountProfile", new { area = "Bazaar" }, new { @id="update-account-form" }))
    {
        <fieldset>
            <legend>Update Profile</legend>
            <div class="span5">
                <div class="control-group">
                    @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                    @Html.ValidationMessageFor(x => x.FirstName)
                    <div class="controls">
                        @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "Your first name" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                    @Html.ValidationMessageFor(x => x.LastName)
                    <div class="controls">
                        @Html.TextBoxFor(x => x.LastName, new { @placeholder = "Your last name" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.CheckBoxFor(x => x.SetPassword, new { @id = "chk-change-password" }) Change my password
                    </label>
                </div>
            </div>
            <div class="span6 pull-right">

                <div id="change-password-form">
                    <div class="control-group">
                        @Html.LabelFor(x => x.OldPassword, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.OldPassword)
                        <div class="controls">
                            @Html.PasswordFor(x => x.OldPassword, new { @placeholder = "Your current password" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Password)
                        <div class="controls">
                            @Html.PasswordFor(x => x.Password, new { @placeholder = "Your password" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        <div class="controls">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @placeholder = "Confirm your password" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group span12">
                @Html.HiddenFor(x => x.EmailAddress)
                @Html.HiddenFor(x => x.AccountPageId)
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-default" id="btn-profile-form-cancel">Cancel</a>
                
            </div>
        </fieldset>
    }
}

