@inherits Umbraco.Web.Mvc.UmbracoViewPage<CombinedRegisterLoginModel>
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Merchello.Bazaar.Controllers
@using Merchello.Bazaar.Models
@using Umbraco.Web

<div class="container-fluid">
    <div class="span5">
        <h2>Current Customers</h2>
        @{
            using (Html.BeginUmbracoForm<MembershipOperationsController>("HandleSignIn", new { area = "Bazaar" }, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <legend>Login</legend>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Login.Username, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Login.Username)
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Login.Username, new { @placeholder = "Your email address" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Login.Password, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Login.Password)
                        <div class="controls">
                            @Html.PasswordFor(x => x.Login.Password, new { @placeholder = "Your password" })
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            @Html.HiddenFor(x => x.AccountPageId)
                            <label class="checkbox">
                                @Html.CheckBoxFor(x => x.Login.RememberMe) Remember Me
                            </label>
                            <button type="submit" class="btn">Register</button>
                        </div>
                    </div>
                </fieldset>
            }
        }
    </div>

    <div class="span6">

        <h2>Create a new Account</h2>

        @{
            using (Html.BeginUmbracoForm<MembershipOperationsController>("HandleSignUp", new { area = "Bazaar" }, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    <legend>Register</legend>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Registration.FirstName, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Registration.FirstName)
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Registration.FirstName, new { @placeholder = "Your first name" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Registration.LastName, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Registration.LastName)
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Registration.LastName, new { @placeholder = "Your last name" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Registration.EmailAddress, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Registration.EmailAddress)
                        <div class="controls">
                            @Html.TextBoxFor(x => x.Registration.EmailAddress, new { @placeholder = "Your email address" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Registration.Password, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Registration.Password)
                        <div class="controls">
                            @Html.PasswordFor(x => x.Registration.Password, new { @placeholder = "Your password" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(x => x.Registration.ConfirmPassword, new { @class = "control-label" })
                        @Html.ValidationMessageFor(x => x.Registration.ConfirmPassword)
                        <div class="controls">
                            @Html.PasswordFor(x => x.Registration.ConfirmPassword, new { @placeholder = "Confirm your password" })
                        </div>
                    </div>
                    @Html.HiddenFor(x => x.AccountPageId)
                    @Html.HiddenFor(x => x.Registration.MemberTypeName)
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(x => x.Registration.PersistLogin) Remember Me
                            </label>
                            <button type="submit" class="btn">Register</button>
                        </div>
                    </div>
                </fieldset>
            }
        }
    </div>

</div>