@inherits Umbraco.Web.Mvc.UmbracoViewPage<ETC.B2B.WEB.Models.PasswordResetModel>
	@using System.Web.Mvc.Html
	@using Merchello.FastTrack.Controllers.Membership
	@using Merchello.FastTrack.Ui
	@using Umbraco.Web
	@{
	Html.EnableClientValidation(true);
	Html.EnableUnobtrusiveJavaScript(true);
	}

	@if (string.IsNullOrWhiteSpace(Model.Error))
	{
	if (Model.Email != null && Model.Token != null)
	{


	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>
				Enter new password
			</strong>
		</div>
		<div class="panel-body">

			<div class="form-group">
				@using (Html.BeginUmbracoForm<ResetPasswordController>("ResetPassword" , new { area = "FastTrack" }))
					{
					@Html.ValidationSummary(false)

					@Html.AntiForgeryToken()

					<fieldset>
						<p>
							@Html.LabelFor(m => m.NewPassword, new { @class = "inputLabel" })<br />
							@Html.ValidationMessageFor(m => m.NewPassword)
							@Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Password must be at least 8 characters", @class = "form-control" })
						</p>
					</fieldset>

				
							@Html.HiddenFor(m => m.Email)
							@Html.HiddenFor(m => m.Token)
							<input class="btn btn-default pull-right" type="submit" value="Set new password">
					}
			</div>


		</div>
	</div>
	}
	else
	{
	<p>You can now <a href="/member/login?redirectUrl=%2f">log in</a> with your new password.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	}
	}
	else
	{
	<p style="color: red;">@Model.Error</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	}
